<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Gomulu Deprem Haritasi</title>
  </head>
  <body>
    <div class="header"></div>
    <slot />
    <div class="alert">
      <span>
        Lütfen acil durumlar için <b>AFAD</b>'a ulaşınız!
      </span>
      <a
        href="https://afetharita.com/gizlilik.pdf"
        target="_blank"
        style="font-size: 11px;">Gizlilik Sözleşmesi</a
      >
      <a
        href="https://afetharita.com/cerez.pdf"
        target="_blank"
        style="font-size: 11px;">Çerez Politikası</a
      >
    </div>
    <button id="find-this-area">BU ALANI TARA</button>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  body {
    margin: 0;
    padding: 0;
  }

  button {
    background-color: orangered;
    color: #fff;
    border: 0px;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 0.7rem;
  }

  .alert {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ecd0d0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ccc;
    z-index: 30;
    width: 300px;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .alert {
      width: 100% !important;
    }
  }

  body.loading::after {
    overflow: hidden;
    background-color: #00000072;
    content: "Yukleniyor...";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }

  body.find-this-area #find-this-area {
    display: block;
  }

  #find-this-area {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    z-index: 200;
    background-color: red;
  }
</style>
